{% extends 'articles.html' %}

{% block content %}
<form class="container" method="post" id="deleteForm">
    <input class="input" name="id" id="inputid" type="text" placeholder="ID del artículo a eliminar">
    <input type="hidden" name="_method" value="DELETE">
    <select class="input" name="iduser">
        {% for user in data.users_list %}
            <option value="{{ user._id }}">{{ user.name }}:   {{ user._id }}</option>
        {% endfor %}
    </select>
    <button type="submit">Eliminar</button>
</form>

<script>
document.getElementById('deleteForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var confirmar = confirm('¿Estás seguro de que deseas eliminar este artículo?');
    if (confirmar) {
        var userId = document.querySelector('select[name="iduser"]').value;
        var artId = document.querySelector('input[name="id"]').value;

        fetch('{{ url_for('deleteArt', user_id='USER_ID', art_id='ART_ID') }}'.replace('USER_ID', userId).replace('ART_ID', artId), {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.href = '{{ url_for('listArts') }}';
            } else {
                return response.text().then(error => {
                    alert('Error al eliminar el artículo: ' + error);
                });
            }
        })
        .then(() => {
            document.getElementById("inputid").value = "";
        })
        .catch(error => console.error('Error:', error));
    }
});
</script>

{% endblock %}
